/*
color palette (hex):
3C4B6F (dark blue)
FDFFFC (white)
946846 (brown)
#c2d2ed (light blue-grey)
050000 (black)

font-family: 'Bangers', cursive;
font-family: 'Open Sans', sans-serif;


*/

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

header {
  font-family: 'Syne', sans-serif;
  text-align: center;
  font-size: 30px;
  width: 100%;
  padding: 5px;
}

h2{
  font-size: 20px;
}


body {
  background-color: #c2d2ed;
  color: #3C4B6F;
  text-align: center;
  padding: 0% 20% 20% 20%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}


table {
  width: 75%;
  border-collapse: collapse;


}

 td {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 2%;
  border-spacing: 5px;
  background-color: #FDFFFC;
}

tr {
  width: 100px;
  vertical-align: top;
}

#navbar {
  border: 2px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #c2d2ed;

}

#abouttable {
  width: 100%;
}

.active {
  background-color: #946846;
  color: white;
}

td.noborders { /*makes the nav bar have no borders despite being part of the table */
  background-color: #c2d2ed;
  border: 0px;

}




li a {
  display: block;
  width: 120px;
}
