/*
color palette (hex):
3C4B6F (dark blue)
FDFFFC (white)
946846 (brown)
#c2d2ed (light blue-grey)
050000 (black)

font-family: 'Bangers', cursive;
font-family: 'Open Sans', sans-serif;


*/

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

header { /*formatting for the  header secion*/
  font-family: 'Syne', sans-serif;
  text-align: center;
  font-size: 30px;
  width: 100%;
  padding: 5px;
}

#head2{ /*formatting for the second heading */
  font-size: 20px;
}

#head1 { /*formatting for the first heading */
  font-size: 30px;
}


body { /*formatting for body */
  background-color: #c2d2ed;
  color: #3C4B6F;
  text-align: center;
  padding: 0% 20% 20% 20%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}


table { /*formatting for tables */
  width: 75%;
  border-collapse: collapse;
}

 td { /*formatting for table cells */
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 2%;
  border-spacing: 5px;
  background-color: #FDFFFC;
}

tr { /*formatting for table rows */
  width: 100px;
  vertical-align: top;
}

#navbar { /*formatting for the nav bar */
  border: 2px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #c2d2ed;

}

#abouttable { /*formatting for the table in about.html */
  width: 100%;
}

.active { /*formatting for the active link in the nav bar */
  background-color: #946846;
  display: block;
  width: 120px;
}

.unactive { /*formatting for the unactive link in the nav bar */
  background-color: #c2d2ed;
  display: block;
  width: 120px;
}


td.noborders { /*makes the nav bar have no borders despite being part of the table */
  background-color: #c2d2ed;
  border: 0px;

}

a:link {
  color: #c2d2ed;
}

/* visited link */
a:visited {
  color: #3C4B6F;
}

/* mouse over link */
a:hover {
  color: #050000;
}

/* selected link */
a:active {
  color: #c2d2ed;
}
