<!doctype html>
<html lang="en">

  <%- include('global/header'); %>
  <%- include('global/navbar'); %>



  <div class="container-fluid">
    <div class="row justify-content-md-center">
    <div class="col">
      <h3> Logo </h3>
    </div>
    <div>
      <p> This was the Daily Show's logo while Jon Stewart was the host. </p>
        <img src="images/logo.png" alt="Daily Show Logo" width ="400px" height="150px">
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <h3> Video Sample </h3>
    </div>
    <div class="col">
      <h3> Stewart Interviews Bill O'Reilly </h3>
      <p> Some of the show's most iconic moments came from interviews with right-wing guests. Here, Stewart interviews Fox News's Bill O'Reilly, and gets him to acknowledge that white privilege exists.
      <iframe width="400" height="200" src="https://www.youtube.com/embed/8raaT7SRx18" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <h3> Audio Sample </h3>
    </div>
    <div class="col">
      <h3> The Daily Show Theme Song </h3> <p> This was the Daily Show's theme song while Stewart was the host. </p> <audio controls>
            <source src="theme.ogg" type="audio/ogg">
            <source src="theme.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
    </div>
    <div class="col">
    </div>
  </div>
</div>
  <%- include('global/footer'); %>
</body>

</html>
